body {
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 100%;
    min-height: 100%;
    padding: auto;
    margin: auto;
    font-family: Georgia;
}
header {
    background-color: #ebdbd3;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header h1{
    color: #5d6e1e;
}
nav {
    display: flex;
    flex-direction: row;
    gap: 2em;
}
nav a {
    text-decoration: none;
    color: #814e28;
}
main {
    background-color: #ebdbd3;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    gap: 20em;
    padding: 10px;
}
#productos img{
    width: 90vh;
}
#banner ul li{
    list-style-type: none;
    padding-bottom: 10px;
}
#contacto form{
    padding-bottom: 20px;
    font-family: Georgia;
}
#contacto button {
    width: 15em;
    height: 5em;
    font-size: 20px;
    background-color: #814e28;
    border: 0px;
    border-radius: 12px;
    font-family: Georgia;
}
#contacto button:hover {
    background-color: #a35920;
    zoom: 120%;
}
footer {
    background-color: #b28761;
}
footer ul li{
    list-style-type: none;
    padding-bottom: 10px;
    align-items: center;
}
form {
    display: flex;
    align-items: center;
    flex-direction: column;
}
@media only screen and (max-width:1000px){
    #productos img{
    width: 45vh;
}
}